doctype html
html(ng-app="myChat")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    body(ng-controller="MainController as mCtrl")
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.
                        {{mCtrl.user.name}}
                div.collapse.navbar-collapse
                    form.navbar-form.navbar-right(ng-submit="mCtrl.login()",ng-if="!mCtrl.user._id")
                        div.form-group
                            div.input-group
                                span.input-group-addon
                                    i.glyphicon.glyphicon-user
                                input.form-control(placeholder="username",required,ng-model="mCtrl.username")
                    button.btn.btn-default.navbar-btn.navbar-right(ng-if="mCtrl.user._id", ng-click="mCtrl.logout()") Logout
        div.container
            div.row
                div.col-lg-9
                    ul.list-group#list
                        li.list-group-item(ng-repeat="msg in mCtrl.messages track by $index",ng-class="mCtrl.getChatClass(msg.type)").
                            {{msg.msg}}
                div.col-lg-3
                    h3 List of Chatters ({{mCtrl.users.length}})
                    ul.list-group
                        li.list-group-item(ng-repeat="usr in mCtrl.users").
                            {{usr}}

        nav.navbar.navbar-inverse.navbar-fixed-bottom
            div.container
                form.navbar-form(ng-submit="mCtrl.onSubmit()")
                    input.form-control(placeholder="Message...",style="width:100%",ng-model="mCtrl.message",required)

    script(src = "/jquery/jquery.js")
    script(src = "/bootstrap/js/bootstrap.js")
    script(src = "/angular/angular.js")
    script(src = "/socket.io/socket.io.js")
    script(src = "/javascripts/chat.js")